CourseFeecback_WPF/Service References/FeedbackService/FeedbackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FeedbackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/IISFeedbackService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/IISFeedbackService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COMP306_FeedbackService" />
      <xsd:import schemaLocation="http://localhost/IISFeedbackService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFeedbackService_GetAllCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCourse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetAllCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetAllCourse_FaultFeedbackInfoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/COMP306_FeedbackService" name="detail" element="q1:FaultFeedbackInfo" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetCourseByCodeOrTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByCodeOrTitle" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetCourseByCodeOrTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByCodeOrTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetCourseByCodeOrTitle_FaultFeedbackInfoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/COMP306_FeedbackService" name="detail" element="q2:FaultFeedbackInfo" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedbackByCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackByCourseID" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedbackByCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackByCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedbackByCourseID_FaultFeedbackInfoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/COMP306_FeedbackService" name="detail" element="q3:FaultFeedbackInfo" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_PostFeedbackByCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:PostFeedbackByCourseID" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_PostFeedbackByCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostFeedbackByCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_PostFeedbackByCourseID_FaultFeedbackInfoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/COMP306_FeedbackService" name="detail" element="q4:FaultFeedbackInfo" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_UpdateByFeedBackID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateByFeedBackID" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_UpdateByFeedBackID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateByFeedBackIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_UpdateByFeedBackID_FaultFeedbackInfoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/COMP306_FeedbackService" name="detail" element="q5:FaultFeedbackInfo" />
  </wsdl:message>
  <wsdl:portType name="IFeedbackService">
    <wsdl:operation name="GetAllCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/GetAllCourse" message="tns:IFeedbackService_GetAllCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/GetAllCourseResponse" message="tns:IFeedbackService_GetAllCourse_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedbackService/GetAllCourseFaultFeedbackInfoFault" name="FaultFeedbackInfoFault" message="tns:IFeedbackService_GetAllCourse_FaultFeedbackInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCodeOrTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/GetCourseByCodeOrTitle" message="tns:IFeedbackService_GetCourseByCodeOrTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/GetCourseByCodeOrTitleResponse" message="tns:IFeedbackService_GetCourseByCodeOrTitle_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedbackService/GetCourseByCodeOrTitleFaultFeedbackInfoFault" name="FaultFeedbackInfoFault" message="tns:IFeedbackService_GetCourseByCodeOrTitle_FaultFeedbackInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackByCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedbackByCourseID" message="tns:IFeedbackService_GetFeedbackByCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedbackByCourseIDResponse" message="tns:IFeedbackService_GetFeedbackByCourseID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedbackByCourseIDFaultFeedbackInfoFault" name="FaultFeedbackInfoFault" message="tns:IFeedbackService_GetFeedbackByCourseID_FaultFeedbackInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostFeedbackByCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/PostFeedbackByCourseID" message="tns:IFeedbackService_PostFeedbackByCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/PostFeedbackByCourseIDResponse" message="tns:IFeedbackService_PostFeedbackByCourseID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedbackService/PostFeedbackByCourseIDFaultFeedbackInfoFault" name="FaultFeedbackInfoFault" message="tns:IFeedbackService_PostFeedbackByCourseID_FaultFeedbackInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateByFeedBackID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/UpdateByFeedBackID" message="tns:IFeedbackService_UpdateByFeedBackID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/UpdateByFeedBackIDResponse" message="tns:IFeedbackService_UpdateByFeedBackID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedbackService/UpdateByFeedBackIDFaultFeedbackInfoFault" name="FaultFeedbackInfoFault" message="tns:IFeedbackService_UpdateByFeedBackID_FaultFeedbackInfoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHTTP" type="tns:IFeedbackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCourse">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/GetAllCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultFeedbackInfoFault">
        <soap:fault use="literal" name="FaultFeedbackInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCodeOrTitle">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/GetCourseByCodeOrTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultFeedbackInfoFault">
        <soap:fault use="literal" name="FaultFeedbackInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackByCourseID">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/GetFeedbackByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultFeedbackInfoFault">
        <soap:fault use="literal" name="FaultFeedbackInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostFeedbackByCourseID">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/PostFeedbackByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultFeedbackInfoFault">
        <soap:fault use="literal" name="FaultFeedbackInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateByFeedBackID">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/UpdateByFeedBackID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultFeedbackInfoFault">
        <soap:fault use="literal" name="FaultFeedbackInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedbackService">
    <wsdl:port name="BasicHTTP" binding="tns:BasicHTTP">
      <soap:address location="http://localhost/IISFeedbackService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>