IISTestClient/Service References/WCFServiceReference/FeedbackService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://johnnywalker/WCFFeedbackService/FeedbackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFFeedbackService.FeedbackObjects" />
  <xs:element name="GetAllCourse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFFeedbackService.FeedbackObjects" minOccurs="0" name="GetAllCourseResult" nillable="true" type="q1:ArrayOfCourseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByCodeOrTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeOrTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByCodeOrTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFFeedbackService.FeedbackObjects" minOccurs="0" name="GetCourseByCodeOrTitleResult" nillable="true" type="q2:ArrayOfCourseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackByCourseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackByCourseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFFeedbackService.FeedbackObjects" minOccurs="0" name="GetFeedbackByCourseIDResult" nillable="true" type="q3:ArrayOfFeedbackObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostFeedbackByCourseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tcourse_id" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAnonymous" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostFeedbackByCourseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostFeedbackByCourseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByFeedBackID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByFeedBackIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateByFeedBackIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>