IISTestClient/Service References/WCFServiceReference/FeedbackService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFFeedbackService.FeedbackObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFFeedbackService.FeedbackObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCourseObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseObject" nillable="true" type="tns:CourseObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseObject" nillable="true" type="tns:ArrayOfCourseObject" />
  <xs:complexType name="CourseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseObject" nillable="true" type="tns:CourseObject" />
  <xs:complexType name="FaultFeedbackInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultFeedbackInfo" nillable="true" type="tns:FaultFeedbackInfo" />
  <xs:complexType name="ArrayOfFeedbackObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedbackObject" nillable="true" type="tns:FeedbackObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedbackObject" nillable="true" type="tns:ArrayOfFeedbackObject" />
  <xs:complexType name="FeedbackObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastModify" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedbackObject" nillable="true" type="tns:FeedbackObject" />
</xs:schema>